.item-button {
    display: block !important;
    border: none;
    margin: 10px 0 0 10px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: relative;
}
.each-item {
    font-family: Arial;
}
.item-button:hover {
    cursor: pointer;
}
.pokemon-items-image img {
    width: 250px;
    margin-right: 35px;
}
.pokemon-name {
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}
.pokemon-items-image {
    margin-top: 15px;
}
.star img {
    width: 35px !important;
}
.stat-name {
    width: 160px;
}
.each-pokemon .ldio-4p635hxe379 {
     position: absolute;
     top: 45px;
     left: 35%;
 }
.MuiButton-text {
    padding: 4px 8px !important;
    margin: 10px 0 0 10px !important;
}
.MuiButton-root {
    min-width: 34px !important;
}
.statPokemon {
    display: flex;
    position: relative;
    margin-top: 8px;
}
.typePokemon, .statPokemon {
    color: #000;
}
.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.badge {
    background-color: rgb(147, 69, 148);
    border-radius: 11px !important;
    padding: 4px 8px !important;
    font-size: 14px !important;
    margin-right: 5px;
    letter-spacing: 1.5px;
    color: white;

}
.type-stat-wrapper {

}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}
.typesPokemon-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 -75px;
}
.progress {
    background-color: darkgrey;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid #fff;
}
.progress-bar {
    background-color: royalblue;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
}
.progress-bar small {
    padding-left: 90px;
}
.star img:hover {
    cursor: pointer;
}
@media screen and (max-width: 1900px) {
    .pokemon-items-image img {
        width: 350px;
    }
    .star img {
        margin-left: 30px !important;
    }
    .stat-name {
        font-size: 21px;
    }
}
@media screen and (max-width: 1200px) {
    .badge {
        font-size: 17px !important;
    }
    .stat-name {
        margin-bottom: 4px;
    }
    .image-wrapper {
        margin-right: 10%;
    }

}
@media screen and (max-width: 992px) {
    .image-wrapper {
        display: block;
        margin-right: 0;
    }
    .pokemon-items-image img {
        display: block;
        margin: 15px auto;
    }
    .statPokemon {
        justify-content: center;
    }
}
@media screen and (max-width: 650px) {
    .each-item img {
        width: 250px;
    }
    .badge {
        font-size: 13px !important;
        padding: 1px 5px 5px 5px !important;
    }
    .pokemon-name {
        font-size: 25px;
    }
    .progress {
        min-width: 220px;
        max-width: 220px;
    }
    .each-pokemon .ldio-4p635hxe379 {
        left: 20%;
    }
    .progress-bar small {
        padding-left: 45px;
    }
    .typesPokemon-wrapper {
        margin-top: 15px;
    }
}
@media screen and (max-width: 490px) {
    .each-item img {
        width: 160px;
    }
    .pokemon-name {
        font-size: 17px;
    }
    .progress {
        min-width: 160px;
        max-width: 160px;
    }
    .stat-name {
        font-size: 16px;
        width: 120px;
    }
}