.item-button {
    display: block !important;
    border: none;
    margin: 10px 0 0 10px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: relative;
}
.each-item {
    font-family: Arial;
}
.item-button:hover {
    cursor: pointer;
}
.item-button i {
    left: 8px;
    font-size: 16px;
    position: absolute;
    top: 6px;
}
.each-item img {
    width: 250px;
    margin-left:20%;
}
.pokemon-name {
    color: #000;
    margin-top: 50px;
    margin-left: 70px;
}
.MuiButton-text {
    padding: 10px 11px !important;
    margin: 10px 0 0 10px !important;
}
.MuiButton-root {
    min-width: 34px !important;
}
.typePokemon, .statPokemon {
    color: #000;
}
.pokemon-title {
    text-transform: none;
    color: #000;
    margin: 20px 0 30px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 0 8px;
}
.image-name-wrapper {
    display: flex;
    margin-left: 100px;
}
.statPokemon {
    display: flex;
}
.badge {
    background-color: rgb(147, 69, 148);
    border-radius: 11px !important;
    padding: 1px 5px !important;
    font-size: 14px !important;
    margin-right: 5px;
    letter-spacing: 1.5px;
    color: white;

}
.type-stat-wrapper {
    margin-left: 440px;
    margin-top: -225px;
}
.typesPokemon-wrapper {
    display: flex;
    margin-left: -80px;
}
.progress {
    background-color: darkgrey;
    /*width: 400px;*/
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    margin-left: 580px;
}
.progress-bar {
    background-color: royalblue;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
}
.progress-bar small {
    padding-left: 90px;
}
.stat-name {
    margin-bottom: 7px;
}
.each-pokemon .ldio-4p635hxe379 {
    position: absolute;
    top: 156px;
    left: 40%;
}
@media screen and (max-width: 1900px) {
    .each-item img {
        width: 350px;
    }
    .statPokemon {
        margin-left: 115px;
    }
    .progress {
        margin-left: 680px;
    }
}
@media screen and (max-width: 1200px) {
    .image-name-wrapper {
        margin-left: 0;
    }
    .badge {
        font-size: 17px !important;
        padding: 3px 6px;
    }
    .statPokemon {
        margin-left: 25px;
    }
    .stat-name {
        margin-bottom: 4px;
    }
    .progress {
        margin-left: 630px;
    }
    .stat-name {
        font-size: 22px;
    }
}
@media screen and (max-width: 992px) {
    .type-stat-wrapper {
        display: inline-table;
        margin-left: 50px;
        margin-top: 20px;
    }
    .progress {
        margin-left: 240px;
    }
}
@media screen and (max-width: 650px) {
    .each-item img {
        margin-left: 20px;
    }
    .pokemon-name {
        margin-left: 0;
    }
    .each-item img {
        width: 250px;
    }
    .badge {
        font-size: 19px !important;
        padding: 2px 5px;
    }
    .pokemon-name {
        font-size: 25px;
    }
    .progress {
        margin-left: 235px;
    }
    .each-pokemon .ldio-4p635hxe379 {
        left: 7px;
        top: 120px;
    }
    .progress {
        margin-left: 250px;
        min-width: 220px;
        max-width: 220px;
    }
    .progress-bar small {
        padding-left: 45px;
    }
    .typesPokemon-wrapper {
        margin-left: -140px;
    }
}
@media screen and (max-width: 490px) {
    .each-item img {
        width: 160px;
    }
    .typesPokemon-wrapper {
        display: block;
        margin-left: -90px;
    }
    .typePokemon {
        margin-bottom: 6px;
    }
    .type-stat-wrapper {
        margin-left: -16px;
    }
    .pokemon-name {
        margin-top: 65px;
        margin-left: 15px;
        font-size: 17px;
    }
    .each-item img {
        margin-left: 10px;
    }
    .progress {
        min-width: 160px;
        max-width: 160px;
        margin-left: 140px;
    }
    .stat-name {
        font-size: 18px;
    }
}