* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.pokemons {
    color:#000;
    text-align: center;
}
.selectedPage {
    font-weight: bold;
}
.MuiPagination-ul {
    max-width: 315px !important;
    margin: 0 auto !important;
    justify-content: center;
}
.MuiPaginationItem-root {
    margin: 0 1px !important;
}
.droplink {
    width:20px;
    border-radius:3px;
    margin:10px 0 0 25px
}
#dropdown li {
    /*margin-bottom: 7px;*/
    display: unset;
}
#dropdown {
    position: absolute;
    left: 260px;
    top: 81px;
}
.wrapper {
    position: absolute;
    /*display: flex;*/
    text-align: left;
    margin-left: 255px;
    top: 55px;
}
.fa-caret-down {
    margin-left: 55px;
}
.paginate-wrapper {
    cursor: pointer;
}
.paginate-wrapper span {
    margin-left: 3px;
}
.paginate {
    cursor: pointer;
    outline: none;
    padding: 8px 9px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid lightgrey;
    margin-right: 7px;
    transition: .5s ease;
}

.active,
.paginate:hover{
    background-color: rgba(0, 0, 0, 0.08);
    border-color: darkgrey;
}
.check-box {
    /*text-align: right;*/
}
.card:hover {
    animation: card .5s linear;
}
@keyframes  card {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}
@media screen and (max-width: 1070px) {
    .wrapper {
        /*margin-left: 200px;*/
    }
    .MuiFormControlLabel-root {
        margin-top: 4px !important;
    }
}
@media screen and (max-width: 975px) {
    .wrapper {
        margin-left: 90px;
    }
    #dropdown {
        left: 97px;
    }
}
@media screen and (max-width: 710px) {
    .wrapper {
        margin: 40px 0 0 10px;
    }
    #dropdown {
        left: 16px;
        top: 120px;
    }
}
@media screen and (max-width: 440px) {
    .MuiFormControlLabel-root {
        margin-left: 95px !important;
    }
}
