* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.pokemons {
    color:#000;
    text-align: center;
}
.selectedPage {
    font-weight: bold;
}
.MuiPagination-ul {
    max-width: 315px !important;
    margin: 0 auto !important;
    justify-content: center;
}
.MuiPaginationItem-root {
    margin: 0 1px !important;
}
.mainTitle {
    background-color: #141617;
    position: fixed;
    z-index: 5;
    padding: 12px 0;
    top: 0;
    left: 0;
    right: 0;
}
.MuiInputBase-input {
    margin-top: 50px !important;
}
.mainTitle span {
    color:#e6e6e6;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
}
.droplink {
    width:20px;
    border-radius:3px;
    margin:10px 0 0 25px
}
#dropdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70%);
}
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.fa-caret-down {
    margin-left: 0;
}
.dropdown-wrapper {
    position: relative;
    cursor: pointer;
    margin: 10px 40px 0 0;
}
.dropdown-wrapper span {
    margin-left: 3px;
}
.dropdown {
    cursor: pointer;
    outline: none;
    font-size: 14px;
    padding: 8px 9px;
    border-radius: 16px;
    background-color: #fff;
    margin-right: 7px;
    transition: .5s ease;
    border: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiSvgIcon-root {
    fill: gray !important;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: transparent;
}
.MuiIconButton-colorSecondary {
    color: gray !important;
}
.active,
.dropdown:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.check-box {
    margin-top: 30px;
}
.card:hover {
    animation: card .5s linear;
}
@keyframes  card {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}
@media screen and (max-width: 530px) {
    .dropdown-wrapper {
        margin: 10px 0;
    }
    #dropdown {
        transform: translate(-50%, 64%);
    }
    .wrapper {
        display: block;
    }
    .check-box {
        margin-top: 0;
    }
    .MuiPagination-root {
        margin-top: 45px;
    }
}
