* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.pokemons {
    color:#000;
    text-align: center;
}
.selectedPage {
    font-weight: bold;
}
.MuiPagination-ul {
    max-width: 315px !important;
    margin: 0 auto !important;
}
.MuiPaginationItem-root {
    margin: 0 1px !important;
}
.droplink {
    width:20px;
    border-radius:3px;
    margin:10px 0 0 25px
}
#dropdown li {
    margin-bottom: 7px;
    display: unset;
}
#dropdown {
    margin-top: 8px;
    margin-left: 25px;
}
.wrapper {
    position: absolute;
    /*display: flex;*/
    text-align: left;
    margin-left: 255px;
    top: 55px;
}
.fa-caret-down {
    margin: 0 4px 0 69px;
}
.paginate-wrapper {
    cursor: pointer;
}
.paginate {
    cursor: pointer;
    padding: 5px 6px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid darkgrey;
    margin-right: 7px;
    transition: .5s ease;
    /* display: block; */
}
.active,
.paginate:hover{
    background-color: darkgrey !important;
}
.card:hover {
    animation: card .5s linear;
}
@keyframes  card {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}
@media screen and (max-width: 1070px) {
    .wrapper {
        margin-left: 200px;
    }
}
@media screen and (max-width: 945px) {
    .wrapper {
        margin-left: 90px;
    }
}
@media screen and (max-width: 710px) {
    .wrapper {
        margin: 40px 0 0 10px;
    }
}
