.pokemon-item {
    margin: 50px;
    padding: 10px 0 !important;
}
.pokemon-items-name {
    font-family: 'Arial';
    font-size: 22px;
    margin: 15px 0 18px 0;
    font-weight: bold;
    text-transform: uppercase;
}
/*.star {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 0;*/
/*    height: 0;*/
/*    margin-left: .9em;*/
/*    margin-right: .9em;*/
/*    margin-bottom: 1.2em;*/
/*    border-right: .3em solid transparent;*/
/*    border-bottom: .7em  solid;*/
/*    border-bottom-color: #000;*/
/*    border-left: .3em solid transparent;*/

/*    !* Controlls the size of the stars. *!*/
/*    font-size: 24px;*/
/*}*/

/*.star:before,*/
/*.star:after {*/
/*   content: '';*/
/*   display: block;*/
/*   width: 0;*/
/*   height: 0;*/
/*   position: absolute;*/
/*   top: .6em;*/
/*   left: -1em;*/
/*   border-right:  1em solid transparent;*/
/*   border-bottom: .7em  solid;*/
/*    border-bottom-color: #000;*/
/*   border-left:   1em solid transparent;*/
/*   transform: rotate(-35deg);*/
/*}*/

/*.star:after {*/
/*     transform: rotate(35deg);*/
/* }*/
.pokemon-item img {
    width: 200px;
}
.MuiPaper-elevation1 {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.2), 3px 2px 0 2px rgba(0,0,0,0.14), 1px 2px 0 3px rgba(0,0,0,0.12) !important;
}
@media screen and (max-width: 1200px) {
    .pokemon-item img {
        width: 250px;
    }
    .pokemon-items-name {
        font-size: 25px;
    }
}
@media screen and (max-width: 900px) {
    .pokemon-item img {
        width: 200px;
    }
    .pokemon-items-name {
        font-size: 22px;
    }
    .pokemon-items-name {
        margin: 5px 0 8px 0;
    }
}
@media screen and (max-width: 768px) {
    .pokemon-item img {
        width: 215px;
    }
    .pokemon-items-name {
        font-size: 25px;
    }
}
@media screen and (max-width: 576px) {
    .pokemon-item img {
        width: 180px;
    }
    .pokemon-items-name {
        font-size: 22px;
    }
}
@media screen and (max-width: 470px) {
    .pokemon-item img {
        width: 230px;
    }
}